<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#FFFF00"
  type="ball-atom"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="container">
  <div class="row">
    <div class="col-md-8 my-3 d-flex align-items-center">
      <h4 class="font-weight-bold mb-0">Sort by |</h4>
      <select id="gender1">
        <option>Best Match</option>
        <option>Best Seller</option>
        <option>Price: low to high</option>
        <option>Price: high to low</option>
      </select>
    </div>
    <div class="col-md-4 my-3 pt-3">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Filter..."
          #search
          (keyup)="onKeyUp(search.value)"
        />
      </div>
    </div>
  </div>
</div>
<div class="product my-5 container">
  <div class="row">
    <div class="col-sm-3 my-4" *ngFor="let product of filtered">
      <div class="card w-100 align-items-center">
        <img
          class="card-img-product"
          [routerLink]="['/product', product._id]"
          [src]="product.images"
          alt="Card image cap"
        />
        <div class="card-body">
          <h4 class="card-title">{{ product.name }}</h4>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia
            minima sint iste qui reiciendis. Tempora corrupti quae adipisci
            provident minus culpa nam odio eaque vitae
          </p>
          <div
            class="card-text text-warning font-weight-bold d-flex justify-content-between"
          >
            <p class="mr-5">{{ product.price | currency: "USD" }}</p>
            <p>{{ product.avg_rating }}/5<i class="fas fa-star ml-1"></i></p>
          </div>
          <button
            class="btn btn-primary w-75"
            (click)="cartService.addItem(product)"
            *ngIf="
              cartService.getItemQuantity(product) === 0;
              else updateQuantity
            "
          >
            <i class="fas fa-shopping-cart mr-2"></i>Add to cart
          </button>
          <ng-template #updateQuantity>
            <div
              class="d-flex justify-content-between align-items-center btn-add-remove w-75"
            >
              <button
                class="btn btn-minus"
                (click)="cartService.removeItem(product)"
              >
                <i class="fas fa-minus text-white"></i>
              </button>
              <span class="text-white font-weight-bold">
                {{ cartService.getItemQuantity(product) }}</span
              >
              <button
                class="btn btn-add"
                (click)="cartService.addItem(product)"
              >
                <i class="fas fa-plus text-white"></i>
              </button>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
