<div class="container">
  <div class="row">
    <div class="d-flex my-3">
      <h4 class="font-weight-bold mb-0">Default Select |</h4>
      <select id="gender1">
        <option>Best Match</option>
        <option>Best Seller</option>
        <option>Price: low to high</option>
        <option>Price: high to low</option>
      </select>
    </div>
  </div>
</div>
<div class="product my-5 container">
  <div class="row">
    <div class="col-sm-3 my-4" *ngFor="let product of products">
      <div class="card w-100 align-items-center">
        <img
          class="card-img-product"
          [routerLink]="[product._id]"
          [src]="product.images"
          alt="Card image cap"
        />
        <div class="card-body">
          <h4 class="card-title">{{ product.name }}</h4>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia
            minima sint iste qui reiciendis. Tempora corrupti quae adipisci
            provident minus culpa nam odio eaque vitae, veniam, fuga a
            exercitationem esse?
          </p>
          <p class="card-text text-info">
            <span></span>
          </p>
          <p class="card-text text-warning font-weight-bold">
            <span>{{ product.price | currency: "USD" }}</span>
          </p>
          <button
            class="btn btn-primary w-100"
            (click)="cartService.addItem(product)"
            *ngIf="
              cartService.getItemQuantity(product) === 0;
              else updateQuantity
            "
          >
            <i class="fas fa-shopping-cart mr-2"></i>Add to cart
          </button>
          <ng-template #updateQuantity>
            <div class="d-flex justify-content-between align-items-center">
              <button
                class="btn btn-danger"
                (click)="cartService.removeItem(product)"
              >
                <i class="fas fa-minus"></i>
              </button>
              <span> {{ cartService.getItemQuantity(product) }}</span>
              <button
                class="btn btn-primary"
                (click)="cartService.addItem(product)"
              >
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
<p-paginator
  [rows]="10"
  totalRecords="100"
  (onPageChange)="paginate($event)"
></p-paginator>
