<footer class="bg-primary p-3">
  <div class="container-fluid-xl">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link first after" href="">All Departments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link first after" href="">Store Directory</a>
          </li>
          <li class="nav-item">
            <a class="nav-link first after" href="">Careers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link first after" href="">Our Company</a>
          </li>
          <li class="nav-item">
            <a class="nav-link first after" href="">Sell on Walmart.com</a>
          </li>
          <li class="nav-item">
            <a class="nav-link first after" href="">Help</a>
          </li>
          <li class="nav-item">
            <a class="nav-link first after" href=""
              >COVID-19 Vaccine Scheduler</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link first after" href="">Product Recalls</a>
          </li>
          <li class="nav-item">
            <a class="nav-link first after" href="">Accessibility</a>
          </li>
          <li class="nav-item">
            <a class="nav-link first after" href="">Tax Exempt Program</a>
          </li>
          <li class="nav-item">
            <a class="nav-link first after" href="">Get the Walmart App</a>
          </li>
          <li class="nav-item">
            <a class="nav-link first after" href="">Sign-up for Email</a>
          </li>
          <li class="nav-item">
            <a class="nav-link first after" href="">Terms of Use</a>
          </li>
          <li class="nav-item">
            <a class="nav-link first after" href="">Privacy & Security</a>
          </li>
          <li class="nav-item">
            <a class="nav-link first after" href="">CA Privacy Rights</a>
          </li>
          <li class="nav-item">
            <a class="nav-link first after" href=""
              >California Supply Chain Act</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link first after" href=""
              >Do Not Sell My Personal Information</a
            >
          </li>
          <li class="nav-item">
            <a href="" class="nav-link first after"
              >Request My Personal Information</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <p class="mb-0 text-white text-center mt-4">
      &copy; {{ currentYear }} Walmart. All Rights Reserved.
    </p>
  </div>
</footer>
