<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-xl d-flex">
    <a class="navbar-brand" routerLink="/home">
      <img
        loading="lazy"
        alt="Walmart"
        class="db"
        height="32"
        src="//i5.walmartimages.com/dfw/63fd9f59-b3e1/7a569e53-f29a-4c3d-bfaf-6f7a158bfadd/v1/walmartLogo.svg"
        width="130"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-1" id="navbarNav">
      <ul class="navbar-nav w-100 align-items-center">
        <li
          class="nav-item nav-item-hover"
          ngbDropdown
          id="gfg"
          ngbDropdownToggle
          routerLinkActive="active"
        >
          <a class="nav-link text-white font-weight-bold"
            ><i class="fas fa-border-all mr-1"></i>Departments</a
          >
          <div ngbDropdownMenu="gfg" class="shadow">
            <a
              class="nav-link department-hover text-dark"
              ngbDropdownItem
              routerLink="/party-decoration"
              >Party Decorations & Party Supplies</a
            >
            <a
              class="nav-link department-hover text-dark"
              ngbDropdownItem
              routerLink="/ballons"
              >Ballons</a
            >
            <a
              class="nav-link department-hover text-dark"
              ngbDropdownItem
              routerLink="/car-care"
              >DIY & Car Care</a
            >
            <a
              class="nav-link department-hover text-dark"
              ngbDropdownItem
              routerLink="/health-beauty"
              >Health & Beauty</a
            >
          </div>
        </li>

        <li
          class="nav-item flex-grow-1 d-flex align-items-center justify-content-center"
        >
          <div class="input-group">
            <input
              class="form-control py-2 rounded-pill mr-1 pr-5"
              type="search"
              placeholder="Search everything at Walmart online and in store"
            />
            <span class="input-group-append">
              <button class="btn rounded-pill border-0 ml-n5" type="button">
                <i class="fa fa-search icon-search"></i>
              </button>
            </span>
          </div>
        </li>
        <li class="nav-item ml-auto d-flex align-items-center nav-item-hover">
          <div class="sign-in d-flex">
            <div class="icon-sign-in">
              <i class="fas fa-user"></i>
            </div>
            <div class="desc-sign-in" ngbDropdown id="gfg" ngbDropdownToggle>
              <p>Sign in</p>
              <p>Account</p>
              <div
                ngbDropdownMenu="gfg"
                class="shadow"
                *ngIf="!authService.isLoggedIn(); else avatar"
              >
                <a class="nav-link login" ngbDropdownItem routerLink="/login"
                  >Sign in</a
                >
                <a
                  class="nav-link create text-dark"
                  ngbDropdownItem
                  routerLink="/signup"
                  >Create an account</a
                >
                <hr />
                <p class="text-dark text-center">
                  <i class="fas fa-receipt mr-1"></i>Purchase History
                </p>
              </div>
            </div>
          </div>
        </li>
        <ng-template #avatar>
          <li class="nav-item ml-auto d-flex align-item-center">
            <div class="dropdown user-dropdown">
              <span
                class="dropdown-toggle cursor-pointer d-inline-block"
                (click)="show = !show"
              >
                <img
                  [src]="authService.user.avatar"
                  alt="User avatar"
                  class="user-avatar"
                />
              </span>
              <div class="dropdown-menu" [class.show]="show">
                <span
                  class="dropdown-item cursor-pointer"
                  (click)="goToMyProfile()"
                  >My profile</span
                >
                <span
                  class="dropdown-item cursor-pointer"
                  (click)="goToAdminPage()"
                  *ngIf="authService.isAdmin()"
                  >Go to admin page</span
                >
                <span class="dropdown-item cursor-pointer" (click)="logout()"
                  ><i class="fas fa-sign-out-alt"></i>Log out</span
                >
              </div>
            </div>
          </li>
        </ng-template>
        <li class="nav-item mr-3">
          <a class="nav-link cart text-center" routerLink="/cart"
            ><i class="fas fa-shopping-cart text-white"></i>

            <span class="cart-quantity">{{
              cartService.getCartQuantity()
            }}</span>

            <div class="cart-price text-white">
              {{ cartService.getCartTotalPrice() | currency: "USD" }}
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
