<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#FF9900"
  type="ball-fussion"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="nav-main container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto w-100 justify-content-end">
        <li class="nav-item">
          <a class="nav-link text-white first after" href="#">Grocery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white first after" href="#">Tech</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white first after" href="#">Fashion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white first after" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white first after" href="#">Patio & garden</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white first after" href="#">Best sellers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white first after" href="#">Deals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white first after" href="#">Walmart++</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="brand my-5 container">
  <span class="text-best-sell">Your favorite departments</span>
  <div class="row">
    <div class="col-sm-4 my-4" *ngFor="let cate of category">
      <div class="card">
        <img class="card-img-top" [src]="cate.image" alt="Card image cap" />
        <div class="card-body">
          <h3 class="card-title">{{ cate.title }}</h3>
          <p class="card-text">
            {{ cate.description }}
          </p>
          <a href="#" class="btn shop-now" routerLink="/product">Shop now</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="best-sell-products-home container">
  <span class="text-best-sell">Health & Beauty</span>
  <div class="product my-5">
    <div class="row">
      <div class="col-sm-3 my-4" *ngFor="let product of health">
        <div class="card w-100 align-items-center">
          <img
            class="card-img-product"
            [routerLink]="['/product', product._id]"
            [src]="product.images"
            alt="Card image cap"
          />
          <div class="card-body">
            <h4 class="card-title">{{ product.name }}</h4>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia
              minima sint iste qui reiciendis.
            </p>
            <p class="card-text text-info">
              <span></span>
            </p>
            <p class="card-text text-warning font-weight-bold">
              <span>{{ product.price | currency: "USD" }}</span>
            </p>
            <button
              class="btn btn-primary w-75"
              (click)="cartService.addItem(product)"
              *ngIf="
                cartService.getItemQuantity(product) === 0;
                else updateQuantity
              "
            >
              <i class="fas fa-shopping-cart mr-2"></i>Add to cart
            </button>
            <ng-template #updateQuantity>
              <div
                class="d-flex justify-content-between align-items-center btn-add-remove w-75"
              >
                <button
                  class="btn btn-minus"
                  (click)="cartService.removeItem(product)"
                >
                  <i class="fas fa-minus text-white"></i>
                </button>
                <span class="text-white font-weight-bold">
                  {{ cartService.getItemQuantity(product) }}</span
                >
                <button
                  class="btn btn-add"
                  (click)="cartService.addItem(product)"
                >
                  <i class="fas fa-plus text-white"></i>
                </button>
              </div>
            </ng-template>
            <!-- <ng-template #updateQuantity>
              <div class="d-flex justify-content-between align-items-center">
                <button
                  class="btn btn-danger"
                  (click)="cartService.removeItem(product)"
                >
                  <i class="fas fa-minus"></i>
                </button>
                <span> {{ cartService.getItemQuantity(product) }}</span>
                <button
                  class="btn btn-primary"
                  (click)="cartService.addItem(product)"
                >
                  <i class="fas fa-plus"></i>
                </button>
              </div>
            </ng-template> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="best-sell-products-home container">
  <span class="text-best-sell">DIY & Car Care</span>
  <div class="product my-5">
    <div class="row">
      <div class="col-sm-3 my-4" *ngFor="let product of carCare">
        <div class="card w-100 align-items-center">
          <img
            class="card-img-product"
            [routerLink]="['/product', product._id]"
            [src]="product.images"
            alt="Card image cap"
          />
          <div class="card-body">
            <h4 class="card-title">{{ product.name }}</h4>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia
              minima sint iste qui reiciendis.
            </p>
            <p class="card-text text-info">
              <span></span>
            </p>
            <p class="card-text text-warning font-weight-bold">
              <span>{{ product.price | currency: "USD" }}</span>
            </p>
            <button
              class="btn btn-primary w-75"
              (click)="cartService.addItem(product)"
              *ngIf="
                cartService.getItemQuantity(product) === 0;
                else updateQuantity
              "
            >
              <i class="fas fa-shopping-cart mr-2"></i>Add to cart
            </button>
            <ng-template #updateQuantity>
              <div
                class="d-flex justify-content-between align-items-center btn-add-remove w-75"
              >
                <button
                  class="btn btn-minus"
                  (click)="cartService.removeItem(product)"
                >
                  <i class="fas fa-minus text-white"></i>
                </button>
                <span class="text-white font-weight-bold">
                  {{ cartService.getItemQuantity(product) }}</span
                >
                <button
                  class="btn btn-add"
                  (click)="cartService.addItem(product)"
                >
                  <i class="fas fa-plus text-white"></i>
                </button>
              </div>
            </ng-template>
            <!-- <ng-template #updateQuantity>
              <div
                class="d-flex justify-content-between align-items-center btn-add-remove w-75"
              >
                <button class="btn-minus" (click)="cartService.removeItem(product)">
                  <i class="fas fa-minus text-white"></i>
                </button>
                <span class="text-white">
                  {{ cartService.getItemQuantity(product) }}</span
                >
                <button
                  class="btn btn-add"
                  (click)="cartService.addItem(product)"
                >
                  <i class="fas fa-plus text-white"></i>
                </button>
              </div>
            </ng-template> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="best-sell-products-home container">
  <span class="text-best-sell">Party Decorations & Party Supplies</span>
  <div class="product my-5">
    <div class="row">
      <div class="col-sm-3 my-4" *ngFor="let product of party">
        <div class="card w-100 align-items-center">
          <img
            class="card-img-product"
            [routerLink]="['/product', product._id]"
            [src]="product.images"
            alt="Card image cap"
          />
          <div class="card-body">
            <h4 class="card-title">{{ product.name }}</h4>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia
              minima sint iste qui reiciendis.
            </p>
            <p class="card-text text-info">
              <span></span>
            </p>
            <p class="card-text text-warning font-weight-bold">
              <span>{{ product.price | currency: "USD" }}</span>
            </p>
            <button
              class="btn btn-primary w-75"
              (click)="cartService.addItem(product)"
              *ngIf="
                cartService.getItemQuantity(product) === 0;
                else updateQuantity
              "
            >
              <i class="fas fa-shopping-cart mr-2"></i>Add to cart
            </button>
            <ng-template #updateQuantity>
              <div
                class="d-flex justify-content-between align-items-center btn-add-remove w-75"
              >
                <button
                  class="btn btn-minus"
                  (click)="cartService.removeItem(product)"
                >
                  <i class="fas fa-minus text-white"></i>
                </button>
                <span class="text-white font-weight-bold">
                  {{ cartService.getItemQuantity(product) }}</span
                >
                <button
                  class="btn btn-add"
                  (click)="cartService.addItem(product)"
                >
                  <i class="fas fa-plus text-white"></i>
                </button>
              </div>
            </ng-template>
            <!-- <ng-template #updateQuantity>
              <div class="d-flex justify-content-between align-items-center">
                <button
                  class="btn btn-danger"
                  (click)="cartService.removeItem(product)"
                >
                  <i class="fas fa-minus"></i>
                </button>
                <span> {{ cartService.getItemQuantity(product) }}</span>
                <button
                  class="btn btn-primary"
                  (click)="cartService.addItem(product)"
                >
                  <i class="fas fa-plus"></i>
                </button>
              </div>
            </ng-template> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
