.nav-main {
  height: 50px;
  background-color: #07466b;
}

a,
a:visited,
a:hover,
a:active {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  transition: 0.5s color ease;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}
a:hover {
  color: #fff;
}
a.before:before,
a.after:after {
  content: "";
  transition: 0.5s all ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}
a.before:before {
  top: -0.25em;
}
a.after:after {
  bottom: 0.2em;
}
a.before:before,
a.after:after {
  height: 2px;
  width: 0;
  background: #fff;
}
a.first:after {
  left: 15px;
}
a.before:hover:before,
a.after:hover:after {
  width: 60%;
}
.card {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}
.card:hover {
  transform: translateY(-1.1rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}
$background: #fafbff;
$button-width: 120px;
$border-radius: 20px;
.btn.shop-now {
  $btn-color: #000;
  $btn-hover-color: #000;
  position: relative;
  border-color: $btn-color;
  font-weight: 500;
  color: $btn-color;
  border-radius: $border-radius;
  overflow: hidden;
  &::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: $border-radius;
    transform: translate(-100%, 0) rotate(50deg);
    transform-origin: top left;
    transition: all 0.35s;
    background-color: $btn-hover-color;
    z-index: -1;
    content: "";
  }
  &:hover {
    color: #fff;
    border-color: $btn-hover-color;
    &::before {
      transform: translate(0, 0);
    }
  }
}

.card-title {
  height: 30px;
}
.card-img-top {
  padding-bottom: 10px;
  height: 200px;
  object-fit: contain;
  border-bottom: 1px solid #ccc;
}
.card-img-top:hover {
  object-fit: cover;
}

img {
  width: 100%;
}

.text-best-sell {
  position: relative;
  padding: 8px;
  transition: 0.2s;
  font-size: 20px;
  font-weight: bold;
}

.text-best-sell::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #07466b;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.text-best-sell:hover::after {
  width: 100%;
  left: 0;
}
.card-img-product {
  width: 200px;
  height: 200px;
}
img {
  width: 100%;
}
.btn-add-remove {
  background-color: #0071dc;
  border-radius: 20px;
  padding: 1px 10px;
}

.btn-minus:hover {
  background-color: rgb(0, 0, 0, 0.6);
  border-radius: 50%;
}
.btn-add:hover {
  background-color: rgb(0, 0, 0, 0.6);
  border-radius: 50%;
}
