<div class="global-container">
  <div class="card login-form">
    <div class="card-body">
      <div class="icon-logo">
        <img src="../../../assets/images/icon-logo.png" alt="" />
      </div>
      <h3 class="card-title text-center font-weight-bold">
        Sign in to your Walmart account
      </h3>
      <div class="card-text">
        <form (ngSubmit)="onLogin()" ngForm #f="ngForm">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input
              type="email"
              name="email"
              class="form-control form-control-sm"
              [(ngModel)]="user.email"
              #email="ngModel"
              pattern="^[^@]{1,64}@[^@]{4,253}$"
              required
            />
            <div
              class="alert mt-1"
              role="alert"
              *ngIf="email.errors && email.touched"
            >
              <ng-container *ngIf="email.errors.required"
                >Email is required ***</ng-container
              >
              <ng-container *ngIf="email.errors.pattern"
                >Email is incorrect ***</ng-container
              >
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <a href="#" style="float: right; font-size: 12px"
              >Forgot password?</a
            >
            <input
              type="password"
              name="password"
              class="form-control form-control-sm"
              [(ngModel)]="user.password"
              #password="ngModel"
              required
            />
            <div
              class="alert mt-1"
              role="alert"
              *ngIf="password.errors && password.touched"
            >
              <ng-container *ngIf="password.errors.required"
                >Password is required ***
              </ng-container>
            </div>
          </div>
          <button
            class="btn btn-primary btn-block font-weight-bold"
            [disabled]="f.invalid"
          >
            Sign in
          </button>

          <div class="sign-up">
            Don't have an account?
            <a href="#" routerLink="/signup">Create One</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
