<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#FFFF00"
  type="ball-clip-rotate-pulse"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="global-container">
  <div class="card login-form">
    <div class="card-body">
      <div class="icon-logo">
        <img src="../../../assets/images/icon-logo.png" alt="" />
      </div>
      <h3 class="card-title text-center font-weight-bold">
        Create your Walmart account
      </h3>
      <div class="card-text">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">First Name</label>
            <input type="text" class="form-control form-control-sm" />
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Last Name</label>
            <input type="text" class="form-control form-control-sm" />
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control form-control-sm" />
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input
              type="password"
              class="form-control form-control-sm"
              id="exampleInputPassword1"
            />
          </div>
          <button
            type="submit"
            class="btn btn-primary btn-block font-weight-bold"
          >
            Create account
          </button>

          <div class="sign-up">
            Already have an account?
            <a href="#" routerLink="/login">Sign in</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
