/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";
$primary: #07689f;
$secondary: #c9d6df;
$success: #11d3bc;
$danger: #f67280;
$info: #a2d5f2;
$warning: #ff7e67;
$light: #fafafa;
$dark: #4e4e4e;
$spacer: 1rem;
$border-width: 1px;
$btn-border-radius: 0.25rem;

html,
body {
  height: 100%;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng/resources/themes/luna-amber/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";
